*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
img:not(.c-img) {
	max-height: 540px;
	max-width: 720px;
}
body {
	background-color: #CFC3E0;
}
h1 {
	color: #2F2E2E; /*almost black*/
	font-family: wireone-regular, Times New Roman, Serif;
	font-size: 64px;
}
h2 {
	color: #2F2E2E;
}
@font-face { /*Header Font */
	font-family: 'wireone-regular'; /*Use this name for the font*/
	src: url(assets/fonts/WireOne-Regular.ttf);
}
p {
	color: #2F2E2E;
	font-family: verdana, sans-serif;
}
/* new header */
.logo h1{
	color: #2F2E2E;
	display: table-cell;
	vertical-align: middle;
	font-family: wireone-regular, times new roman, serif;
	font-size: 64px;
	line-height: 48px;
	font-weight: 500;
	padding: 10px;
}
		/* Navigation menu styling*/
			nav.header {
				background: #8966A4; /*Deep purple, not the band*/
				padding: 0 15px;
				font-family: verdana, sans-serif;
				font-size: 32px;
			}
			a {
				color: #2F2E2E;
				text-decoration: none;
			}
			.menu,
			.submenu {   
				list-style-type: none;
			}
			.item {
				padding: 10px;
			}
			.item.home { /* identical to item, only seoereated so Home can come before contact in order */
				padding: 10px;
			}
			.item.button {
				padding: 9px 5px;
				}
			@media all and (max-width: 700px) { /* Only for mobile version, so contact will turn yellow on hover for mobile but not for tablet or desktop */
				.item a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
			}
		/* Navigation menu mobile */
			.menu {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
			.menu li a{
				display: block;
				padding: 15px 5px;
			}
			.menu li.subitem a{
				padding: 15px;
			}
			.toggle {
				order: 1;
				font-size: 50px;
				font-weight: 100;
			}
			.toggle p{ /*font for the word menu in header*/
				font-family: wireone-regular, new times roman, serif;
				font-weight: 600;
				font-size: 40px;
			}
			.item.home {
				order: 2;
			}
			.item.button {
				order: 3;
			}
			.item {
				order: 4;
				width: 100%;
				text-align: center;
				display: none;
			}				
			.active .item {
				display: block;
			}
			/*submenu navigation*/
				.submenu {
					display: none;
				}
				.submenu-active .submenu {
					display: block;
				}
				.has-submenu > a::after {
					font-family: "Phosphor-Thin";
   					font-size: 24px;
    				line-height: 32px;
    				font-weight: 700; 
    				content: "  \e050"; /*arrow pointing down*/
    				color: #2F2E2E;
    				padding-left: 5px;
				}
				.subitem a {
					padding: 10px 15px;
				}
				.submenu-active {
					background-color: #8966A4;
					border-radius: 3px;
				}
				.toggle span {
					vertical-align: -7px; /*lines up the icons with the text */
				}
				.toggle :hover {
					color: #FFC107 /* yellow */;
				}
		/* navigation menu extras: tablet */
			/* makes the scaling possible */
			@media all and (min-width: 700px) {
				.menu {
					justify-content: center;
				}
				.logo {
					flex: 1;
				}
				.item.button {
					width: auto;
					order: 1;
					display: block;
				}
				.toggle {
					flex: 1;
					text-align: right;
					order: 2;
				}
				.item.home {
					order: 3;
				}
				.item {
					order: 4;
				}
				.item:not(.button) a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
					/* shows the contact button */
					.menu li.button a {
						padding: 10px 15px;
						margin: 5px 0;
					}
					.button a {
						background: #FFC107;
						border-radius: 15px;
					}
					.button a:hover {
						text-decoration: none;
					}
					.button:not(.secondary) a:hover {
						background: #cbc1a3; /*TEMPORARY, change once dropshadows moving can be figured out */
					}
				}
		/* navigation menu extras: Desktop */
			/*makes the scaling possible */
			@media all and (min-width: 960px) {
				nav.header { /* resized text for desktop header */
					background: #8966A4;
					padding: 0 15px;
					font-family: verdana, sans-serif;
					font-size: 20px;
				}
				.has-submenu {
					padding-top: 17px; /* adjusts the projects button to be in line with other buttons */
				}
				.has-submenu > a::after {
					font-family: "Phosphor-Thin"; /* resized arrow for desktop header, line up nicely */
   					font-size: 20px;
    				line-height: 20px;
    				font-weight: 700; 
    				content: "\e050"; /*arrow pointing down*/
    				color: #2F2E2E;
    				padding-left: 5px;
					vertical-align: -8px;
				}
				.menu {
					align-items: center;     
					flex-wrap: nowrap;
					background: none;
				}
				.logo {
					order: 0;
				}
				.item.home {
					order: 1;
					position: relative;
					display: block; 
					width: auto;
					margin-right: 2%;
				}
				.item {
					order: 2;
					position: relative;
					display: block; 
					width: auto;
					margin-right: 2%;
				}
				.item.button {
					order: 3;
				}
				.submenu-active .submenu {
					display: block;
					position: absolute;
					left: -140%;
					top: 68px;
					background: #8966A4;
					padding-top: 40px;
					text-align: left;
					white-space: nowrap;
				}
				.toggle {
					display: none;
				}
				.submenu-active {
					border-radius: 0;
				}
				.item:not(.button) a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
			}
/* footer */
footer {
	height: 300px;
	background-color: #8966A4;
	margin-top: 15px; /* adds space BEFORE ABOVE the purple */
	display: grid;
	grid-template-columns: repeat(22, 1fr);
	grid-template-rows: repeat(20, 1fr);
	text-decoration: none;
	color: #2F2E2E;
	font-family: verdana, sans-serif;
}
.footerhover a:hover {
	color: #FFC107 /* yellow */;
}
.RTTbox :hover,
button#RTT :hover::before { /*hover yellow for RTT button */
	color: #FFC107 /* yellow */;
}
.footerhover span {
	vertical-align: -2px; /*lines up the icons with the text */
}

#RTT { /* Return to top button styling */
	border: none;
	outline: none;
	color:#2F2E2E;
	cursor: pointer;
	font-size: 18px;
	background-color: transparent;
}

footer nav {
	display: block;
	text-align: left;
	padding-right: 7%;
}
/* Grid organisation for footer*/
	.personaldetails {
		grid-row-start: 2;
		grid-row-end: 15;
		grid-column-start: 2;
		grid-column-end: 16;
	}
	.RTTbox {
		grid-row-start: 16;
		grid-row-end: 18;
		grid-column-start: 11;
		grid-column-end: 13;
	}
	.contactdetails {
		grid-row-start: 3;
		grid-row-end: 16;
		grid-column-start: 18;
		grid-column-end: 21;
	}
		/* footer fonts */
			.footername {
				font-size: 32px;
				font-weight: bold;
			}
			.footerbody {
				font-size: 18px;
				line-height: 40px;
			}
			/* spacing for name section */
				.personaldetails li.footerbodyli {
					margin-bottom: 5px;
				}
				.personaldetails li.footernameli {
					margin-bottom: 20px;
				}
			/* spacing for contact section */
				li.footerhover {
					margin-bottom: 2px;
				}
			#footercontactbody {
				font-size: 28px;
				white-space: nowrap;
				line-height: 45px;
			}
			.RTTbox span.RTTnowrap {
				white-space: nowrap;
			}
			.RTTarrow {
				vertical-align: 1px;
			}
			button#RTT span::before { /* arrow on top of RTT */
				font-family: "Phosphor-Thin";
				content: '\e13c'; /* up arrow */
				display: block;
				font-size: 26px;
				font-style: normal;
				font-weight: 600;
				color: #2F2E2E;
			}
	@media all and (max-width: 1220px) { /* hides the name info on mobile */
		.personaldetails {
			display: none;
		}
	}
	@media all and (max-width: 1220px) { /* centres the contact info on tablet */
		.contactdetails {
			grid-row-start: 2;
			grid-row-end: 15;
			grid-column-start: 9;
			grid-column-end: 11;
		}
	}
	@media all and (max-width: 700px) { /* centres the contact info on mobile */
		.contactdetails {
			grid-row-start: 2;
			grid-row-end: 15;
			grid-column-start: 5;
			grid-column-end: 11;
		}
	}
/* TITLE BLOCK */
/* web */
@media all and (min-width: 1220px) {
	.nametitle {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		height: 650px;
		margin-top: 100px;
	}
		/* name element on homepage */
		.name {
			text-decoration: none;
			}
			.name h1{
				font-family: wireone-regular, times new roman, serif;
				font-size: 260px;
				line-height: 200px;
				font-weight: 300;
				white-space: nowrap;
				margin-top: 10px;
			}
		.namesubtitle {
			text-decoration: none;
		}
			.namesubtitle h2{
				font-family: wireone-regular, times new roman, serif;
				font-size: 80px;
				padding: 0px 30px;
				font-weight: 300;
				white-space: nowrap;
			}
			/* Button */
			.linkbuttontitle {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				/* Useful button for elsewhere too! */
				.linkbutton {
					margin-top: 22px;
					display: block;
					padding: 15px 5px;
					font-family: verdana, sans-serif;
					font-size: 22px;
					text-align: center;
					background-color:#FFC107;
					border-radius: 15px;
					color:#2F2E2E;
				}
				.linkbuttontitle a:hover { /* when copying, .______ with relevant class tag */
					text-decoration: none;
					background-color: #cbc1a3;
				}
}
/* ABOUT BLOCK */
/* web wide*/
@media all and (min-width: 1220px) {
	.about {
		display: grid;
		grid-template-columns: 3fr 15fr 1fr 13fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.inneraboutimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.aboutimage {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 17;
		}
		.abouttitle {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 6;
		}
		.abouttitle h1 {
			font-size: 64;
			font-weight: 300;
		}
		.aboutbody {
			grid-column: 4;
			grid-row-start: 6;
			grid-row-end: 14;
		}
		.aboutbody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonabout {
			grid-column-start: 4;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonaboutbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonabout a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* narrow */
@media all and (max-width: 1220px) {
	.aboutimage {
		display: none;
	}
}

/* PROJECTS BLOCK */

/* CV BLOCK */
/* wide */
@media all and (min-width: 1220px) {
	.CVblock {
		display: grid;
		grid-template-columns: 3fr 13fr 1fr 15fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.innerCVimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.CVimage {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 15;
		}
		.CVtitle {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 8;
		}
		.CVtitle h1 {
			font-size: 64;
			font-weight: 300;
		}
		.CVbody {
			grid-column: 2;
			grid-row-start: 8;
			grid-row-end: 14;
		}
		.CVbody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonCV {
			grid-column: 2;
			grid-row-start: 11;
			grid-row-end: 13;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonCVbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 20px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonCV a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
			/* ADD display:none for narrow version of profile image when you create that!!!!!!! */	
}
/* narrow */
@media all and (max-width: 1220px) {
	.CVimage {
		display: none;
	}
}

/* VIDEO BLOCK */ /* NOT NEEDED FOR HOMEPAGE, REMOVE */
@media all and (min-width: 1220px) {
	.videosection {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: repeat(17, 1fr);
	}
		.videotitle {
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.videoblock {
			grid-column-start: 2;
			grid-row-start: 3;
			grid-row-end: 15;
		}
		.videodesc {
			grid-column-start: 2;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
}


  /* custom Carousel styling */
.c-item {
	height: 480px;
}
.c-img {
	height: 100%;
	object-fit: contain;
}
.c-subtitle {
	font-family: verdana, sans-serif;
	color: #2F2E2E;
}
.c-heading {
	font-family: verdana, sans-serif;
	color: #2F2E2E;
}
.c-buttonbox {
	display: flex;
	align-items: center;
	margin-left: 7%;
}	
			 /* Useful button for elsewhere too! */
			 .c-button {
				margin-top: -22px;
				display: block;
				padding: 15px 20px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.c-button a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
.c-inner-img {
	margin-bottom: 30px;
	margin-inline-start: 22%;
}
.c-inner-img-caption {
	margin-bottom: 30px;
	width: 280px;
	background-color: #ffffc5;
	border-radius: 20px;
}
.carousel .carousel-indicators {
	position: absolute;
	bottom: -70px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none; 
}
.carousel .carousel-indicators button {
    width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color:#ffffc5;
 }
 .carousel .carousel-indicators button.active  {
	width: 18px;
	height: 18px;
	border-radius: 0%;
	background-color:#FFC107;
 }
	/* wide */
@media all and (min-width: 1220px) {
	.carouselbox {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr 8fr 1fr;
	}
	.c-grid {
		grid-column: 2;
		grid-row: 2;
	}
}

/* Skip to mainn content */
.skip-to-main-content-link {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: #FFC107;
	color: #2F2E2E;
	opacity: 0;
  }
  
  .skip-to-main-content-link:focus {
	left: 50%; 
	transform: translateX(-50%);
	opacity: 1;
  }