*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
img:not(.c-img) {
	max-height: 540px;
	max-width: 720px;
}
body {
	background-color: #CFC3E0;
}
h1 {
	color: #2F2E2E; /*almost black*/
	font-family: wireone-regular, Times New Roman, Serif;
	font-size: 64px;
}
h2 {
	color: #2F2E2E;
}
@font-face { /*Header Font */
	font-family: 'wireone-regular'; /*Use this name for the font*/
	src: url(assets/fonts/WireOne-Regular.ttf);
}
p {
	color: #2F2E2E;
	font-family: verdana, sans-serif;
}
/* new header */
.logo h1{
	color: #2F2E2E;
	display: table-cell;
	vertical-align: middle;
	font-family: wireone-regular, times new roman, serif;
	font-size: 64px;
	line-height: 48px;
	font-weight: 500;
	padding: 10px;
}
.logo-positioner {
	margin-left: -20px;
	vertical-align: 10px;
}
		/* Navigation menu styling*/
			nav.header {
				background: #8966A4; /*Deep purple, not the band*/
				padding: 0 15px;
				font-family: verdana, sans-serif;
				font-size: 32px;
			}
			a {
				color: #2F2E2E;
				text-decoration: none;
			}
			.menu,
			.submenu {   
				list-style-type: none;
			}
			.item {
				padding: 10px;
			}
			.item.home { /* identical to item, only seoereated so Home can come before contact in order */
				padding: 10px;
			}
			.item.button {
				padding: 9px 5px;
				}
			@media all and (max-width: 770px) { /* Only for mobile version, so contact will turn yellow on hover for mobile but not for tablet or desktop */
				.item a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
			}
		/* Navigation menu mobile */
			.menu {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
			.menu li a{
				display: block;
				padding: 15px 5px;
			}
			.menu li.subitem a{
				padding: 15px;
			}
			.toggle {
				order: 1;
				font-size: 50px;
				font-weight: 100;
			}
			.toggle p{ /*font for the word menu in header*/
				font-family: wireone-regular, new times roman, serif;
				font-weight: 600;
				font-size: 40px;
			}
			.item.home {
				order: 2;
			}
			.item.button {
				order: 3;
			}
			.item {
				order: 4;
				width: 100%;
				text-align: center;
				display: none;
			}				
			.active .item {
				display: block;
			}
			/*submenu navigation*/
				.submenu {
					display: none;
				}
				.submenu-active .submenu {
					display: block;
				}
				.has-submenu > a::after {
					font-family: "Phosphor-Thin";
   					font-size: 24px;
    				line-height: 32px;
    				font-weight: 770; 
    				content: "  \e050"; /*arrow pointing down*/
    				color: #2F2E2E;
    				padding-left: 5px;
				}
				.subitem a {
					padding: 10px 15px;
				}
				.submenu-active {
					background-color: #8966A4;
					border-radius: 3px;
				}
				.toggle span {
					vertical-align: -7px; /*lines up the icons with the text */
				}
				.toggle :hover {
					color: #FFC107 /* yellow */;
				}
		/* navigation menu extras: tablet */
			/* makes the scaling possible */
			@media all and (min-width: 770px) {
				.menu {
					justify-content: center;
				}
				.logo {
					flex: 1;
				}
				.item.button {
					width: auto;
					order: 1;
					display: block;
				}
				.toggle {
					flex: 1;
					text-align: right;
					order: 2;
				}
				.item.home {
					order: 3;
				}
				.item {
					order: 4;
				}
				.item:not(.button) a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
					/* shows the contact button */
					.menu li.button a {
						padding: 10px 15px;
						margin: 5px 0;
					}
					.button a {
						background: #FFC107;
						border-radius: 15px;
					}
					.button a:hover {
						text-decoration: none;
					}
					.button:not(.secondary) a:hover {
						background: #cbc1a3; /*TEMPORARY, change once dropshadows moving can be figured out */
					}
				}
		/* navigation menu extras: Desktop */
			/*makes the scaling possible */
			@media all and (min-width: 960px) {
				nav.header { /* resized text for desktop header */
					background: #8966A4;
					padding: 0 15px;
					font-family: verdana, sans-serif;
					font-size: 20px;
				}
				.has-submenu {
					padding-top: 17px; /* adjusts the projects button to be in line with other buttons */
				}
				.has-submenu > a::after {
					font-family: "Phosphor-Thin"; /* resized arrow for desktop header, line up nicely */
   					font-size: 20px;
    				line-height: 20px;
    				font-weight: 700; 
    				content: "\e050"; /*arrow pointing down*/
    				color: #2F2E2E;
    				padding-left: 5px;
					vertical-align: -8px;
				}
				.menu {
					align-items: center;     
					flex-wrap: nowrap;
					background: none;
				}
				.logo {
					order: 0;
				}
				.item.home {
					order: 1;
					position: relative;
					display: block; 
					width: auto;
					margin-right: 2%;
				}
				.item {
					order: 2;
					position: relative;
					display: block; 
					width: auto;
					margin-right: 2%;
				}
				.item.button {
					order: 3;
				}
				.submenu-active .submenu {
					display: block;
					position: absolute;
					left: -140%;
					top: 68px;
					background: #8966A4;
					padding-top: 40px;
					text-align: left;
					white-space: nowrap;
				}
				.toggle {
					display: none;
				}
				.submenu-active {
					border-radius: 0;
				}
				.item:not(.button) a:hover,
				.item a:hover::after {
					color: #FFC107 /* yellow */;
				}
			}
/* footer */
footer {
	height: 300px;
	background-color: #8966A4;
	margin-top: 15px; /* adds space BEFORE ABOVE the purple */
	display: grid;
	grid-template-columns: repeat(22, 1fr);
	grid-template-rows: repeat(20, 1fr);
	text-decoration: none;
	color: #2F2E2E;
	font-family: verdana, sans-serif;
}
.footerhover a:hover {
	color: #FFC107 /* yellow */;
}
.RTTbox :hover,
button#RTT :hover::before { /*hover yellow for RTT button */
	color: #FFC107 /* yellow */;
}
.footerhover span {
	vertical-align: -2px; /*lines up the icons with the text */
}

#RTT { /* Return to top button styling */
	border: none;
	outline: none;
	color:#2F2E2E;
	cursor: pointer;
	font-size: 18px;
	background-color: transparent;
}

footer nav {
	display: block;
	text-align: left;
	padding-right: 7%;
}
/* Grid organisation for footer*/
	.personaldetails {
		grid-row-start: 2;
		grid-row-end: 15;
		grid-column-start: 2;
		grid-column-end: 16;
	}
	.RTTbox {
		grid-row-start: 16;
		grid-row-end: 18;
		grid-column-start: 11;
		grid-column-end: 13;
	}
	.contactdetails{
		grid-row-start: 3;
		grid-row-end: 16;
		grid-column-start: 18;
		grid-column-end: 21;
	}
		/* footer fonts */
			.footername {
				font-size: 32px;
				font-weight: bold;
			}
			.footerbody {
				font-size: 18px;
				line-height: 40px;
			}
			/* spacing for name section */
				.personaldetails li.footerbodyli {
					margin-bottom: 5px;
				}
				.personaldetails li.footernameli {
					margin-bottom: 20px;
				}
			/* spacing for contact section */
				li.footerhover {
					margin-bottom: 2px;
				}
			#footercontactbody {
				font-size: 28px;
				white-space: nowrap;
				line-height: 45px;
			}
			.RTTbox span.RTTnowrap {
				white-space: nowrap;
			}
			.RTTarrow {
				vertical-align: 1px;
			}
			button#RTT span::before { /* arrow on top of RTT */
				font-family: "Phosphor-Thin";
				content: '\e13c'; /* up arrow */
				display: block;
				font-size: 26px;
				font-style: normal;
				font-weight: 600;
				color: #2F2E2E;
			}
	@media all and (max-width: 1219px) { /* hides the name info on mobile */
		.personaldetails {
			display: none;
		}
	}
	@media all and (max-width: 1220px) { /* centres the contact info on tablet */
		.contactdetails {
			grid-row-start: 2;
			grid-row-end: 15;
			grid-column-start: 9;
			grid-column-end: 11;
		}
	}
	@media all and (max-width: 770px) { /* right aligns the contact info and RTT on mobile */
		.contactdetails {
			grid-row-start: 2;
			grid-row-end: 15;
			grid-column-start: 2;
			grid-column-end: 9;
		}
		.RTTbox {
			grid-row-start: 16;
			grid-row-end: 18;
			grid-column-start: 10;
			grid-column-end: 13;
		}
	}
/* TITLE BLOCK */
/* mobile */
.nametitle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	height: 400px;
	margin-top: 50px;
}
	/* name element on homepage */
	.name {
		text-decoration: none;
		}
		.name h1{
			font-family: wireone-regular, times new roman, serif;
			font-size: 130px;
			line-height: 100px;
			font-weight: 300;
			white-space: nowrap;
			margin-top: 10px;
		}
	.namesubtitle {
		text-decoration: none;
	}
		.namesubtitle h2{
			font-family: wireone-regular, times new roman, serif;
			font-size: 45px;
			padding: 0px 0px;
			font-weight: 300;
			white-space: nowrap;
		}
		/* Button */
		.linkbuttontitle {
			display: flex;
			align-items: center;
			justify-content: center;
		}
			/* Useful button for elsewhere too! */
			.linkbutton {
				margin-top: 22px;
				display: block;
				padding: 15px 5px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttontitle a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
/* tablet */
@media all and (min-width: 770px) {
	.nametitle {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		height: 650px;
		margin-top: 100px;
	}
		/* name element on homepage */
		.name {
			text-decoration: none;
			}
			.name h1{
				font-family: wireone-regular, times new roman, serif;
				font-size: 200px;
				line-height: 150px;
				font-weight: 300;
				white-space: nowrap;
				margin-top: 10px;
			}
		.namesubtitle {
			text-decoration: none;
		}
			.namesubtitle h2{
				font-family: wireone-regular, times new roman, serif;
				font-size: 60px;
				padding: 0px 30px;
				font-weight: 300;
				white-space: nowrap;
			}
			/* Button */
			.linkbuttontitle {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				/* Useful button for elsewhere too! */
				.linkbutton {
					margin-top: 22px;
					display: block;
					padding: 15px 5px;
					font-family: verdana, sans-serif;
					font-size: 22px;
					text-align: center;
					background-color:#FFC107;
					border-radius: 15px;
					color:#2F2E2E;
				}
				.linkbuttontitle a:hover { /* when copying, .______ with relevant class tag */
					text-decoration: none;
					background-color: #cbc1a3;
				}
}
/*web narrow */
@media all and (min-width: 960px) {
	.nametitle {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		height: 650px;
		margin-top: 100px;
	}
		/* name element on homepage */
		.name {
			text-decoration: none;
			}
			.name h1{
				font-family: wireone-regular, times new roman, serif;
				font-size: 200px;
				line-height: 150px;
				font-weight: 300;
				white-space: nowrap;
				margin-top: 10px;
			}
		.namesubtitle {
			text-decoration: none;
		}
			.namesubtitle h2{
				font-family: wireone-regular, times new roman, serif;
				font-size: 60px;
				padding: 0px 30px;
				font-weight: 300;
				white-space: nowrap;
			}
			/* Button */
			.linkbuttontitle {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				/* Useful button for elsewhere too! */
				.linkbutton {
					margin-top: 22px;
					display: block;
					padding: 15px 5px;
					font-family: verdana, sans-serif;
					font-size: 22px;
					text-align: center;
					background-color:#FFC107;
					border-radius: 15px;
					color:#2F2E2E;
				}
				.linkbuttontitle a:hover { /* when copying, .______ with relevant class tag */
					text-decoration: none;
					background-color: #cbc1a3;
				}
}
/* web wide*/
@media all and (min-width: 1220px) {
	.nametitle {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		height: 650px;
		margin-top: 100px;
	}
		/* name element on homepage */
		.name {
			text-decoration: none;
			}
			.name h1{
				font-family: wireone-regular, times new roman, serif;
				font-size: 260px;
				line-height: 200px;
				font-weight: 300;
				white-space: nowrap;
				margin-top: 10px;
			}
		.namesubtitle {
			text-decoration: none;
		}
			.namesubtitle h2{
				font-family: wireone-regular, times new roman, serif;
				font-size: 80px;
				padding: 0px 30px;
				font-weight: 300;
				white-space: nowrap;
			}
			/* Button */
			.linkbuttontitle {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				/* Useful button for elsewhere too! */
				.linkbutton {
					margin-top: 22px;
					display: block;
					padding: 15px 5px;
					font-family: verdana, sans-serif;
					font-size: 22px;
					text-align: center;
					background-color:#FFC107;
					border-radius: 15px;
					color:#2F2E2E;
				}
				.linkbuttontitle a:hover { /* when copying, .______ with relevant class tag */
					text-decoration: none;
					background-color: #cbc1a3;
				}
}
/* ABOUT BLOCK */
/* mobile */
.aboutimage {
	display: none;
}
.about {
	display: grid;
	grid-template-columns: .5fr .5fr 6fr .5fr .5fr;
	grid-template-rows: repeat(17 1fr);
	text-decoration: none;
}
.inneraboutimage {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
	.aboutimage-narrow {
		display: block;
		grid-column: 3;
		grid-row-start: 2;
		grid-row-end: 8;
		object-fit: contain;
	}
	.abouttitle {
		grid-column: 3;
		grid-row: 1;
	}
	.abouttitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
		text-align: center;
	}
	.aboutbody {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 9;
		grid-row-end: 15;
		margin-top: 20px;
	}
	.aboutbody p {
		font-family: verdana, sans-serif;
		font-size: 16px;
		text-align: justify;
		font-weight: 300;
	}
	.linkbuttonabout {
		margin-top: 20px;
		grid-column-start: 3;
		grid-row-start: 15;
		grid-row-end: 17;
		display: flex;
		align-items: center;
		justify-content: center;	
	}
		 /* Useful button for elsewhere too! */
		 .linkbuttonaboutbtt {
			margin-top: -22px;
			display: block;
			padding: 15px 10px;
			font-family: verdana, sans-serif;
			font-size: 22px;
			text-align: center;
			background-color:#FFC107;
			border-radius: 15px;
			color:#2F2E2E;
		}
		.linkbuttonabout a:hover { /* when copying, .______ with relevant class tag */
			text-decoration: none;
			background-color: #cbc1a3;
		}
/* tablet */
@media all and (min-width: 770px) {
	.aboutimage {
		display: none;
	}
	.about {
		display: grid;
		grid-template-columns: 1fr .5fr 5fr .5fr 1fr;
		grid-template-rows: repeat(17 1fr);
		text-decoration: none;
	}
	.inneraboutimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.aboutimage-narrow {
			display: block;
			grid-column: 3;
			grid-row-start: 2;
			grid-row-end: 8;
			object-fit: contain;
		}
		.abouttitle {
			grid-column: 3;
			grid-row: 1;
		}
		.abouttitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
			text-align: center;
		}
		.aboutbody {
			grid-column-start: 2;
			grid-column-end: 5;
			grid-row-start: 9;
			grid-row-end: 15;
			margin-top: 20px;
		}
		.aboutbody p {
			font-family: verdana, sans-serif;
			font-size: 16px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonabout {
			margin-top: 20px;
			grid-column-start: 3;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonaboutbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonabout a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web narrow */
@media all and (min-width: 960px) {
	.aboutimage-narrow {
		display: none;
	}
	.about {
		display: grid;
		grid-template-columns: 3fr 15fr 1fr 13fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.inneraboutimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.aboutimage {
			display: block;
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 17;
		}
		.abouttitle {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 6;
		}
		.abouttitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.aboutbody {
			grid-column: 4;
			grid-row-start: 6;
			grid-row-end: 15;
		}
		.aboutbody p {
			font-family: verdana, sans-serif;
			font-size: 18px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonabout {
			grid-column-start: 4;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonaboutbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonabout a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web wide*/
@media all and (min-width: 1220px) {
	.aboutimage-narrow {
		display: none;
	}
	.about {
		display: grid;
		grid-template-columns: 3fr 15fr 1fr 13fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.inneraboutimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.aboutimage {
			display: block;
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 17;
		}
		.abouttitle {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 6;
		}
		.abouttitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.aboutbody {
			grid-column: 4;
			grid-row-start: 6;
			grid-row-end: 14;
		}
		.aboutbody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonabout {
			grid-column-start: 4;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonaboutbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonabout a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* CV BLOCK */
/* mobile */
.CVimage {
	display: none;
}
.CVblock {
	display: grid;
	grid-template-columns: .5fr .5fr 6fr .5fr .5fr;
	grid-template-rows: repeat(17 1fr);
	text-decoration: none;
}
	.CVtitle {
		grid-column: 3;
		grid-row: 1;
	}
	.CVtitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
	}
	.CVbody {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 9;
		grid-row-end: 15;
		margin-top: 20px;
	}
	.CVbody p {
		font-family: verdana, sans-serif;
		font-size: 16px;
		text-align: justify;
		font-weight: 300;
	}
	.linkbuttonCV {
		margin-top: 20px;
		grid-column-start: 3;
		grid-row-start: 15;
		grid-row-end: 17;
		display: flex;
		align-items: center;
		justify-content: center;	
	}
		 /* Useful button for elsewhere too! */
		 .linkbuttonCVbtt {
			margin-top: -22px;
			display: block;
			padding: 15px 10px;
			font-family: verdana, sans-serif;
			font-size: 22px;
			text-align: center;
			background-color:#FFC107;
			border-radius: 15px;
			color:#2F2E2E;
		}
		.linkbuttonCV a:hover { /* when copying, .______ with relevant class tag */
			text-decoration: none;
			background-color: #cbc1a3;
		}
/* tablet */
@media all and (min-width: 770px) {
	.CVimage {
		display: none;
	}
	.CVblock {
		display: grid;
		grid-template-columns: 1fr .5fr 5fr .5fr 1fr;
		grid-template-rows: repeat(17 1fr);
		text-decoration: none;
	}
		.CVtitle {
			grid-column: 3;
			grid-row: 1;
		}
		.CVtitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
			text-align: center;
		}
		.CVbody {
			grid-column-start: 2;
			grid-column-end: 5;
			grid-row-start: 9;
			grid-row-end: 15;
			margin-top: 20px;
		}
		.CVbody p {
			font-family: verdana, sans-serif;
			font-size: 16px;
			text-align: justify;
			font-weight: 300;
			margin-bottom: 40px;
		}
		.linkbuttonCV {
			margin-top: 20px;
			grid-column-start: 3;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonCVbtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonCV a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web narrow */
@media all and (min-width: 960px) {
	.CVblock {
		display: grid;
		grid-template-columns: 3fr 13fr 1fr 15fr 3fr;
		grid-template-rows: repeat(15, 1fr);
		text-decoration: none;
		height:650px;
	}
	.innerCVimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.CVimage {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 15;
			display: block;
		}
		.CVtitle {
			grid-column: 2;
			grid-row-start: 2;
			grid-row-end: 4;
		}
		.CVtitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: right;
		}
		.CVbody {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 10;
		}
		.CVbody p {
			font-family: verdana, sans-serif;
			font-size: 18px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonCV {
			grid-column: 2;
			grid-row-start: 8;
			grid-row-end: 10;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonCVbtt {
				margin-top: -10px;
				display: block;
				padding: 15px 20px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonCV a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
			/* ADD display:none for narrow version of profile image when you create that!!!!!!! */	
}

/* web wide */
@media all and (min-width: 1220px) {
	.CVblock {
		display: grid;
		grid-template-columns: 3fr 13fr 1fr 15fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.innerCVimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.CVimage {
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 15;
			display: block;
		}
		.CVtitle {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 8;
		}
		.CVtitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: right;
		}
		.CVbody {
			grid-column: 2;
			grid-row-start: 8;
			grid-row-end: 14;
		}
		.CVbody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonCV {
			grid-column: 2;
			grid-row-start: 12;
			grid-row-end: 14;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 20px;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonCVbtt {
				margin-top: -20px;
				display: block;
				padding: 15px 20px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonCV a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}	
}

/* VIDEO BLOCK */
/* mobile */
.videosection {
	display: grid;
	grid-template-columns: .6fr 6fr .6fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .3fr;
}
	.videotitle {
		grid-column-start: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.videotitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
	}
	.videoblock {
		grid-column-start: 2;
		grid-row-start: 3;
		grid-row-end: 11;
	}
	.videodesc {
		grid-column-start: 2;
		grid-row-start: 11;
		grid-row-end: 12;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
/* tablet */
@media all and (min-width: 770px) {
	.videosection {
		display: grid;
		grid-template-columns: 1fr 6fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .3fr;
	}
		.videotitle {
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.videotitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
		}
		.videoblock {
			grid-column-start: 2;
			grid-row-start: 3;
			grid-row-end: 11;
		}
		.videodesc {
			grid-column-start: 2;
			grid-row-start: 11;
			grid-row-end: 12;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
}
/* web */
@media all and (min-width: 960px) {
	.videosection {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: repeat(17, 1fr);
	}
		.videotitle {
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.videotitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
		}
		.videoblock {
			grid-column-start: 2;
			grid-row-start: 3;
			grid-row-end: 15;
		}
		.videodesc {
			grid-column-start: 2;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
}

/*  PROJECTS BLOCK - accordion for mobile and carousel for tablet and up */
/* mobile */
.carouselbox {
	display: none;
}
.project-block-title {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr;
}
.project-title {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-block-title h2 {
	font-size: 86px;
	font-family: wireone-regular, times new roman, serif;
	font-weight: bold;
}
  /* custom Carousel styling */
@media all and (min-width: 770px) {
.c-item {
	height: 480px;
}
.c-img {
	height: 100%;
	object-fit: contain;
}
.c-subtitle {
	font-family: verdana, sans-serif;
	color: #2F2E2E;
}
.c-heading {
	font-family: verdana, sans-serif;
	color: #2F2E2E;
}
.c-buttonbox {
	display: flex;
	align-items: center;
	margin-left: 9%;
}	
			 /* Useful button for elsewhere too! */
			 .c-button {
				margin-top: -22px;
				display: block;
				padding: 15px 20px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.c-button a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
.c-inner-img-caption {
	margin-bottom: 30px;
	width: 280px;
	background-color: #ffffc5;
	border-radius: 20px;
}
.carousel .carousel-indicators {
	position: absolute;
	bottom: -70px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none; 
}
.carousel .carousel-indicators button {
    width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color:#ffffc5;
}
 .carousel .carousel-indicators button.active  {
	width: 18px;
	height: 18px;
	border-radius: 0%;
	background-color: #705504;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
}
	/* tablet */
	@media all and (min-width: 770px) {
		#projects-accordion {
			display: none;
		}
		.carouselbox {
			display: grid;
			grid-template-columns: 1fr 5fr 1fr;
			grid-template-rows: 1fr 8fr 1fr;
		}
		.project-block-title {
			display: grid;
			grid-template-columns: 1fr 5fr 1fr;
			grid-template-rows: 1fr;
		}
		.project-title {
			grid-column: 2;
			grid-row: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.project-block-title h2 {
			font-size: 86px;
			font-family: wireone-regular, times new roman, serif;
			font-weight: bold;
		}
		.c-grid {
			grid-column: 2;
			grid-row: 2;
		}
		.carousel-control-prev,
		.carousel-control-next {
			margin: -80px;
		}
		.c-inner-img {
			margin-bottom: 30px;
			margin-inline-start: 15%;
		}
	}
	/* web narrow */
	@media all and (min-width: 960px) {
		#projects-accordion {
			display: none;
		}
		.carouselbox {
			display: grid;
			grid-template-columns: .8fr 7fr .8fr;
			grid-template-rows: 1fr 8fr 1fr;
		}
		.project-block-title {
			display: grid;
			grid-template-columns: 1fr 5fr 1fr;
			grid-template-rows: 1fr;
		}
		.project-title {
			grid-column: 2;
			grid-row: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.project-block-title h2 {
			font-size: 86px;
			font-family: wireone-regular, times new roman, serif;
			font-weight: bold;
		}
		.c-grid {
			grid-column: 2;
			grid-row: 2;
		}
		.carousel-control-prev,
		.carousel-control-next {
			margin: 0;
		}
		.c-inner-img {
			margin-bottom: 30px;
			margin-inline-start: 21%;
		}
	}
	/* web wide */
@media all and (min-width: 1220px) {
	#projects-accordion {
		display: none;
	}
	.carouselbox {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr 8fr 1fr;
	}
	.project-block-title {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr;
	}
	.project-title {
		grid-column: 2;
		grid-row: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.project-block-title h2 {
		font-size: 86px;
		font-family: wireone-regular, times new roman, serif;
		font-weight: bold;
	}
	.c-grid {
		grid-column: 2;
		grid-row: 2;
	}
	.carousel-control-prev,
	.carousel-control-next {
		margin: 0;
	}
	.c-inner-img {
		margin-bottom: 30px;
		margin-inline-start: 21%;
	}
}

/* Skip to main content */
.skip-to-main-content-link {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: #FFC107;
	color: #2F2E2E;
	opacity: 0;
  }
  
  .skip-to-main-content-link:focus {
	left: 50%; 
	transform: translateX(-50%);
	opacity: 1;
  }

  /* Accordion Styling */
  .a-box {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: .5fr 8fr .5fr;
  }
  .accordion {
	grid-row: 2;
	grid-column: 2;
	--bs-accordion-btn-color: #2f2e2e;
	--bs-accordion-btn-bg: #9C7DB4;
	--bs-accordion-active-color: #2f2e2e;
	--bs-accordion-active-bg: #8966A4;
	border: #2F2E2E;
  }
  .accordion-body {
	background-color: #b399c7;
  }
.accordion-item {
	border-radius: 0 !important;
}
.accordion h3 {
	font-family: verdana, sans-serif;
	font-size: 24px;
}

/* 3 item block */
/* mobile */
.webpostersection {
	display: none;
}
.postersection {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr 4fr .2fr 4fr .2fr 4fr 1fr .6fr .6fr .6fr;
}
	.postertitle {
		grid-column-start: 2;
		grid-row: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.postertitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
	}
	.posterblock-1 {
		grid-column-start: 2;
		grid-row-start: 2;
		object-fit: contain;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.poster1 {
			grid-column: 1;
			grid-template-columns: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	.posterblock-2 {
		grid-column-start: 2;
		grid-row-start: 4;
		object-fit: contain;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.poster2 {
			grid-column: 1;
			grid-template-columns: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	.posterblock-3 {
		grid-column-start: 2;
		grid-row-start: 6;
		object-fit: contain;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.poster3 {
			grid-column: 1;
			grid-template-columns: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	.posterdesc {
		grid-column-start: 2;
		grid-row-start: 7;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: justify;
	}
/* web narrow */
@media all and (min-width: 960px) {
	.postersection {
		display: none;
	}
	.webpostersection {
		display: grid;
		grid-template-columns: 1fr 4fr .3fr 4fr .3fr 4fr 1fr;
		grid-template-rows: 1fr .1fr 5fr .5fr 1fr;
	}
		.webpostertitle {
			grid-column-start: 4;
			grid-row: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.webpostertitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
		}
		.webposterblock-1 {
			grid-column-start: 2;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.webposter1 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.webposterblock-2 {
			grid-column-start: 4;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.webposter2 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.webposterblock-3 {
			grid-column-start: 6;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.webposter3 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.webposterdesc {
			grid-column-start: 4;
			grid-row-start: 4;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: justify;
		}
}
/* web wide */
@media all and (min-width: 1220px) {
	.webpostersection {
		display: none;
	}
	.postersection {
		display: grid;
		grid-template-columns: 1fr 4fr .3fr 4fr .3fr 4fr 1fr;
		grid-template-rows: 1fr .1fr 5fr .5fr 1fr;
	}
		.postertitle {
			grid-column-start: 4;
			grid-row: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.postertitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
		}
		.posterblock-1 {
			grid-column-start: 2;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.poster1 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.posterblock-2 {
			grid-column-start: 4;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.poster2 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.posterblock-3 {
			grid-column-start: 6;
			grid-row-start: 3;
			object-fit: contain;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
			.poster3 {
				grid-column: 1;
				grid-template-columns: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain;
			}
		.posterdesc {
			grid-column-start: 4;
			grid-row-start: 4;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: justify;
		}
}
/* Single poster */
/* mobile */

.singlepostersection {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr 4.5fr 1fr;
}
	.singlepostertitle {
		grid-column-start: 2;
		grid-row: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.singlepostertitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
	}
	.singleposterblock-1 {
		grid-column-start: 2;
		grid-row-start: 2;
		object-fit: contain;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		.singleposter1 {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	.singleposterdesc {
		grid-column-start: 2;
		grid-row-start: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
/* poster links */
			/* Useful button for elsewhere too! */
			.posterlink {
				margin-top: 10px;
				display: block;
				padding: 15px 5px;
				font-family: verdana, sans-serif;
				font-size: 18px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			@media all and (max-width: 960px) {
			.posterlink {
				width: 60%;
				margin-left: 20%;
			}
			.posterlink a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
			.posterlink-left {
				grid-column: 2;
				grid-row: 8;
			}
			.posterlink-right {
				grid-column: 2;
				grid-row: 10;
			}
			.posterlink-centre {
				grid-column: 2;
				grid-row: 9;
			}
		}
		@media all and (min-width: 960px) {
			.posterlink-left {
				grid-column: 2;
				grid-row: 5;
			}
			.posterlink-right {
				grid-column: 6;
				grid-row: 5;
			}
			.posterlink-centre {
				grid-column: 4;
				grid-row: 5;
			}
		}



/* REVERSE ABOUT BLOCK */
/* mobile */
.reverseimage {
	display: none;
}
.reverse {
	display: grid;
	grid-template-columns: .5fr .5fr 6fr .5fr .5fr;
	grid-template-rows: repeat(17 1fr);
	text-decoration: none;
}
.innerreverseimage {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
	.reverseimage-narrow {
		display: block;
		grid-column: 3;
		grid-row-start: 2;
		grid-row-end: 8;
		object-fit: contain;
	}
	.reversetitle {
		grid-column: 3;
		grid-row: 1;
	}
	.reversetitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
		text-align: center;
	}
	.reversebody {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 9;
		grid-row-end: 15;
		margin-top: 20px;
	}
	.reversebody p {
		font-family: verdana, sans-serif;
		font-size: 16px;
		text-align: justify;
		font-weight: 300;
	}
	.linkbuttonreverse {
		margin-top: 20px;
		grid-column-start: 3;
		grid-row-start: 15;
		grid-row-end: 17;
		display: flex;
		align-items: center;
		justify-content: center;	
	}
		 /* Useful button for elsewhere too! */
		 .linkbuttonreversebtt {
			margin-top: -22px;
			display: block;
			padding: 15px 10px;
			font-family: verdana, sans-serif;
			font-size: 22px;
			text-align: center;
			background-color:#FFC107;
			border-radius: 15px;
			color:#2F2E2E;
		}
		.linkbuttonreverse a:hover { /* when copying, .______ with relevant class tag */
			text-decoration: none;
			background-color: #cbc1a3;
		}
/* tablet */
@media all and (min-width: 770px) {
	.reverseimage {
		display: none;
	}
	.reverse {
		display: grid;
		grid-template-columns: 1fr .5fr 5fr .5fr 1fr;
		grid-template-rows: repeat(17 1fr);
		text-decoration: none;
	}
	.innerreverseimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.reverseimage-narrow {
			display: block;
			grid-column: 3;
			grid-row-start: 2;
			grid-row-end: 8;
			object-fit: contain;
		}
		.reversetitle {
			grid-column: 3;
			grid-row: 1;
		}
		.reversetitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
			text-align: center;
		}
		.reversebody {
			grid-column-start: 2;
			grid-column-end: 5;
			grid-row-start: 9;
			grid-row-end: 15;
			margin-top: 20px;
		}
		.reversebody p {
			font-family: verdana, sans-serif;
			font-size: 16px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonreverse {
			margin-top: 20px;
			grid-column-start: 3;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonreversebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonreverse a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web narrow */
@media all and (min-width: 960px) {
	.reverseimage-narrow {
		display: none;
	}
	.reverse {
		display: grid;
		grid-template-columns: 3fr 13fr 1fr 15fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.innerreverseimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.reverseimage {
			display: block;
			grid-column: 4;
			grid-row-start: 6;
			grid-row-end: 17;
		}
		.reversetitle {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 6;
		}
		.reversetitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.reversebody {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 15;
		}
		.reversebody p {
			font-family: verdana, sans-serif;
			font-size: 18px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonreverse {
			grid-column-start: 2;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonreversebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonreverse a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web wide*/
@media all and (min-width: 1220px) {
	.reverseimage-narrow {
		display: none;
	}
	.reverse {
		display: grid;
		grid-template-columns: 3fr 13fr 1fr 15fr 3fr;
		grid-template-rows: repeat(17, 1fr);
		text-decoration: none;
		height:650px;
	}
	.innerreverseimage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
		.reverseimage {
			display: block;
			grid-column: 4;
			grid-row-start: 4;
			grid-row-end: 17;
		}
		.reversetitle {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 6;
		}
		.reversetitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.reversebody {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 14;
		}
		.reversebody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonreverse {
			grid-column-start: 2;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonreversebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonreverse a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}

/* No Image ABOUT BLOCK */
/* mobile */
.simple {
	display: grid;
	grid-template-columns: .5fr .5fr 6fr .5fr .5fr;
	grid-template-rows: repeat(17 1fr);
	text-decoration: none;
}
	.simpletitle {
		grid-column: 3;
		grid-row: 1;
	}
	.simpletitle h2 {
		font-family: wireone-regular, times new roman, serif;
		font-size: 86px;
		font-weight: bold;
		text-align: center;
	}
	.simplebody {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 9;
		grid-row-end: 15;
		margin-top: 20px;
	}
	.simplebody p {
		font-family: verdana, sans-serif;
		font-size: 16px;
		text-align: justify;
		font-weight: 300;
	}
	.linkbuttonsimple {
		margin-top: 20px;
		grid-column-start: 3;
		grid-row-start: 15;
		grid-row-end: 17;
		display: flex;
		align-items: center;
		justify-content: center;	
	}
		 /* Useful button for elsewhere too! */
		 .linkbuttonsimplebtt {
			margin-top: -22px;
			display: block;
			padding: 15px 10px;
			font-family: verdana, sans-serif;
			font-size: 22px;
			text-align: center;
			background-color:#FFC107;
			border-radius: 15px;
			color:#2F2E2E;
		}
		.linkbuttonsimple a:hover { /* when copying, .______ with relevant class tag */
			text-decoration: none;
			background-color: #cbc1a3;
		}
/* tablet */
@media all and (min-width: 770px) {
	.simple {
		display: grid;
		grid-template-columns: 1fr .5fr 5fr .5fr 1fr;
		grid-template-rows: repeat(17 1fr);
		text-decoration: none;
	}
		.simpletitle {
			grid-column: 3;
			grid-row: 1;
		}
		.simpletitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 86px;
			font-weight: bold;
			text-align: center;
		}
		.simplebody {
			grid-column-start: 2;
			grid-column-end: 5;
			grid-row-start: 9;
			grid-row-end: 15;
			margin-top: 20px;
		}
		.simplebody p {
			font-family: verdana, sans-serif;
			font-size: 16px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonsimple {
			margin-top: 20px;
			grid-column-start: 3;
			grid-row-start: 15;
			grid-row-end: 17;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonsimplebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonsimple a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web narrow */
@media all and (min-width: 960px) {
	.simple {
		display: grid;
		grid-template-columns: 3fr 29fr 3fr;
		grid-template-rows: repeat(15, 1fr);
		text-decoration: none;
		height:650px;
	}
		.simpletitle {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 6;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.simpletitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.simplebody {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 15;
		}
		.simplebody p {
			font-family: verdana, sans-serif;
			font-size: 18px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonsimple {
			grid-column-start: 2;
			grid-row-start: 11;
			grid-row-end: 13;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonsimplebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonsimple a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}
/* web wide*/
@media all and (min-width: 1220px) {
	.simple {
		display: grid;
		grid-template-columns: 3fr 29fr 3fr;
		grid-template-rows: repeat(15, 1fr);
		text-decoration: none;
		height:650px;
	}
		.simpletitle {
			grid-column: 2;
			grid-row-start: 4;
			grid-row-end: 6;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.simpletitle h2 {
			font-family: wireone-regular, times new roman, serif;
			font-size: 64px;
			font-weight: bold;
			text-align: left
		}
		.simplebody {
			grid-column: 2;
			grid-row-start: 6;
			grid-row-end: 14;
		}
		.simplebody p {
			font-family: verdana, sans-serif;
			font-size: 20px;
			text-align: justify;
			font-weight: 300;
		}
		.linkbuttonsimple {
			grid-column-start: 2;
			grid-row-start: 12;
			grid-row-end: 15;
			display: flex;
			align-items: center;
			justify-content: center;	
		}
			 /* Useful button for elsewhere too! */
			 .linkbuttonsimplebtt {
				margin-top: -22px;
				display: block;
				padding: 15px 10px;
				font-family: verdana, sans-serif;
				font-size: 22px;
				text-align: center;
				background-color:#FFC107;
				border-radius: 15px;
				color:#2F2E2E;
			}
			.linkbuttonsimple a:hover { /* when copying, .______ with relevant class tag */
				text-decoration: none;
				background-color: #cbc1a3;
			}
}

#contactdetails { /*highlight box */ 
	padding: 10px;
	width: 250px; 
}

/*page title (not present on index) */
.top-title h1 {
	font-family: wireone-regular, serif;
	font-size: 120px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	line-height: 90px;
}